@font-face {
  font-family: "FF Shamel Family Sans One";
  src: url("../assets/Fonts/ff-shamel-family/FF Shamel Family Sans One Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "FF Shamel Family Sans One",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}