name: Deploy Admin Dev Frontend

on:
  push:
    branches: [ dev ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Build
        env:
            NODE_ENV: production
  
            # App Settings
            VITE_APP_TITLE: Qallab Admin Dashboard
            VITE_PORT: 3000
  
            # API Settings
            VITE_API_BASE_URL: https://api-dev.qallab.sa/api
  
            # Localization
            VITE_DEFAULT_LOCALE: ar
            VITE_FALLBACK_LOCALE: en
        run: npm run build

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      
      - name: Add server to known_hosts
        run: |
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts
      
      - name: Deploy via rsync
        run: |
          rsync -avz --delete dist/ \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/var/www/frontend/admin-dev.qallab.sa/dist

